.langToggle{
    background-color: white;
    color: #B1A599;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
}
.langToggle:hover{
    background-color: #67AC7F;
    color:white;
}
